@charset "UTF-8";

h1,h2{
    font-family: sans-serif;
    color: green;
}
#princ{
    text-align: center;
    color: white;
    background-color: green;
}
#princ::after{
    color: white;
    background-color: green;
    content: '»';
    font-weight: lighter;
}
#princ::before{
    color: white;
    background-color: green;
    content: '»';
    font-weight: lighter;
}
#princ:hover{
    color: red;
}
.link{
    text-decoration: none;
}
.link:hover{
    color:gold;
}
h3{
    font-family: sans-serif;
    text-align: right;
    color: rgb(21, 151, 21);
}
