@charset "UTF-8";

body{
    background-color: rgb(197, 161, 231);
}

div.ex{
    font: italic bold 19px sans-serif;
    display: inline-block;
    background-color: rgb(218, 187, 187);
    border: 1px solid black;
    text-align: center;
    height: 2cm;
    width: 2cm;
}
/*Em HTML as pseudoclasses em CSS é :
hover é usado para quando o cursor estiver sobre um objeto fazer algo
*/
div.ex:hover{
    background-color: yellow;
}
div:hover{
    color: red;
}
div > p{
    display: none;
    color: aliceblue;
    background-color: red;
    width: 300px;
}

div:hover > p{
    display: block;
}